@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Sora:wght@100..800&display=swap');


/*font-family: "Sora", serif;*/
/*font-family: "Inter", serif;*/
/*font-family: "Manrope", serif;*/

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background: #fff;
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	font-family: "Sora", serif;
	margin: 0;
	padding: 0;
}
p{
	font-family: "Inter", serif;
	margin: 0;
	padding: 0;
}
a{
	font-family: "Sora", serif;
	display: inline-block;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
span{
	margin: 0;
	padding: 0;
}
ul,ol{
	list-style: none;
}

img{
	max-width: 100%;
}


.container{
	float: left;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}
.row{
	max-width: 1200px;
	margin: 0 auto;
}
.table{
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}
.table-cell{
	display: table-cell;
	vertical-align: middle;
}


.owl-carousel .owl-item img {
    display: inline-block;
     width: auto;
}
.owl-nav {
    display: none;
}
.owl-dots {
    float: left;
    width: 100%;
    padding-top: 10px;
    text-align: center;
}
.owl-dots button.owl-dot{
    width: 15px;
    height: 15px;
    color: #000;
    background: #000;
    border-radius: 50%;
    color: #8CC63F;
    margin: 2px;
}
.owl-dots button.owl-dot.active{
    background: #8CC63F;
}






.mobile-manu{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}



.animatable {
  /* initially hide animatable objects */
  visibility: hidden;

  /* initially pause animatable objects their animations */
  animation-play-state: paused;
}

/* show objects being animated */
.animated {
  visibility: visible;

  animation-fill-mode: both;
  animation-duration: 1s;
  animation-play-state: running;
}







/*-----------header--------------start*/
.header{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
    position: relative;
}
.logo{
	text-align: center;
	padding-bottom: 20px;
}


.header-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 30px; */
}
.header-bottom nav ul li {
    display: inline-block;
    padding: 0 15px;
}
.header-bottom nav ul li a{
	font-family: "Inter", serif;
	font-size: 15px;
	line-height: 17px;
	color: #000;
	font-weight: 400;
}

.header-bottom nav ul li a:hover{
	color: #8CC63F;
}
.nav-button a{
	font-family: "Sora", serif;
	font-size: 15px;
	line-height: 17px;
	color: #fff;
	font-weight: 400;
	padding: 10px 26px;
	background: #8CC63F;
	margin-left: 15px;
}
nav#menu{
    display: none;
}
.mm-wrapper--opened nav#menu{
    display: block;
}
.mobile-manu a img:last-child{
    display: none;
}
.mm-wrapper--opened .mobile-manu a img:last-child{
    display: block;
}
.mm-wrapper--opened .mobile-manu a img:first-child{
    display: none;
}

.mobile-manu{
    display: none;
}


/*---------------------------banner------start*/
.banner{
	background: #8CC63F;
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
	overflow: hidden;
}
.banner:after{
	content: "";
	position: absolute;
	background: url(../images/banner.png) no-repeat;
	background-size: cover;
	width: 727px;
	height: 714px;
	right: 0;
	top: 0;
}
.banner-center{
	display: table-cell;
	vertical-align: middle;
}
.banner-img{
	display: table-cell;
	vertical-align: middle;
}
.banner-img{
	display: none;
}
.banner-center h1{
	font-size: 48px;
	line-height: 50px;
	color: #fff;
	font-weight: 600;
	padding-bottom: 27px;
}

.banner-center p {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    font-weight: 400;
    max-width: 566px;
    padding-bottom: 48px;
}
.banner-center a{
	font-family: "Sora", serif;
    font-size: 20px;
    line-height: 22px;
    color: #000;
    font-weight: 600;
    padding: 18px 37px;
    background: #fff;
}
.banner-center a:hover{
	background: #172048;
	color: #fff;
}



/*----------------middle-1----start*/
.middle-1{
	padding-top: 100px;
	padding-bottom: 100px;
	background: #FAFAFA;
}

.middle-1-title {
    float: left;
    width: 100%;
    padding-bottom: 40px;
}
.middle-1-title h2{
	font-size: 36px;
    line-height: 38px;
    color: #172048;
    font-weight: 600;
    display: inline-block;
}
.middle-1-title a{
	float: right;
	font-size: 18px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    background: #8CC63F;
    padding: 18px 37px;

}
.middle-1-title a:hover{
    background: #172048;
    color: #fff;
}
.middle-1-tab {
    float: left;
    width: 100%;
    padding-bottom: 50px;
}
.middle-1-tab ul li{
	display: inline-block;
	padding: 0 30px;
}
.middle-1-tab ul li:first-child{
	padding: 0;
	padding-right: 30px;
}
.middle-1-tab ul li a{
	font-family: "Manrope", serif;
	font-size: 18px;
    line-height: 30px;
    color: #222223;
    font-weight: 400;
}


.middle-1-tab ul li a:hover{
	color: #8CC63F;
	border-bottom: 2px solid #8CC63F;
	transition-duration: 700ms;
}
.middle-1-tab .active a {
    color: #8CC63F;
	border-bottom: 2px solid #8CC63F;
}


.box-1 {
    float: left;
    width: 33.33%;
    padding: 0 15px;
}
.mrg-1{
	margin: 0 -15px;
}
.bg-1 {
    background: #fff;
    position: relative;
}
.bg-1 h4 {
    font-family: "Inter", serif;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    color: #fff;
    font-weight: 600;
    padding: 5px 15px;
    background: #8CC63F;
    border-radius: 25px;
    position: absolute;
    top: 10px;
    right: 20px;
}
.bg-1-content{
	text-align: center;
	padding: 0 29px 40px 28px;
}
.bg-1-content h2{
	font-size: 16px;
    line-height: 18px;
    color: #8CC63F;
    font-weight: 600;
}
.bg-1-content p{
	font-size: 18px;
    line-height: 20px;
    color: #172048;
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 15px;
}
.bg-1-content span{
	font-size: 26px;
    line-height: 28px;
    color: #172048;
    font-weight: 700;
}
.bg-1-content span:last-child{
	font-size: 18px;
    line-height: 20px;
    color: #6B6867;
    font-weight: 300;
    margin-left: 7px;
    position: relative;
}

/*-----------leaders----------start*/
.leaders{
	padding-top: 100px;
	padding-bottom: 100px;
}

.leaders-left {
  display: table-cell;
  vertical-align: middle;
}

.leaders-right {
    display: table-cell;
    vertical-align: middle;
}

.leaders-right h2{
	font-size: 48px;
    line-height: 50px;
    color: #172048;
    font-weight: 600;
    padding-bottom: 25px;
}
.leaders-right p {
    font-size: 20px;
    line-height: 30px;
    color: #7D8296;
    font-weight: 400;
    max-width: 540px;
}


/*----------items---section------start*/
.items{
	padding-top: 100px;
	padding-bottom: 100px;
	background: #FAFAFA;
	text-align: center;
}
.items .row h3{
	font-size: 36px;
    line-height: 38px;
    color: #172048;
    font-weight: 600;
    padding-bottom: 50px;
}

.item-1 {
    float: left;
    width: 100%;
}
.item-2 {
    padding-top: 50px;
    float: left;
    width: 100%;
}
.item-3 {
    padding-top: 50px;
    float: left;
    width: 100%;
}

/*-----------search-section--start*/
.search{
	background: url(../images/back.png) no-repeat;
	background-size: cover;
	width: 100%;
	height: 591px;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	position: relative;
	z-index: 2;
}
.search:after{
	content: "";
	position: absolute;
	background: rgba(140, 198, 63, 0.4);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}
.search-center h2{
	font-size: 36px;
    line-height: 38px;
    color: #172048;
    font-weight: 600;
    padding-bottom: 50px;
}

.search-center .search-center-input {
    max-width: 750px;
    height: 82px;
    background: #fff;
    margin: 0 auto;
    padding: 0 10px;
}
.search-center-input input{
	width: 100%;
    height: 82px;
    background: #fff;
	font-size: 16px;
	line-height: 18px;
	color: #6B6867;
	font-weight: 300;
	border: none;
	padding-left: 10px;
	padding-right: 10px;
}
.search-center-input button{
	background: #8CC63F;
	padding: 20px 35px;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	font-weight: 400;
	border: none;
	cursor: pointer;
}
.search-center-input button:hover{
	background: #172048;
}
.search-center-input .table-cell:first-child{
	width: auto;
}
.search-center-input .table-cell:last-child{
	width: 135px;
}

.search-center-a {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.search-center-a-1 {
    display: inline-block;
}
.search-center-a-1 a {
    font-size: 16px;
    line-height: 18px;
    color: #172048;
    font-weight: 400;
    padding: 15px 21px;
    background: rgba(255, 255, 255, 0.47);
    border: 1px solid rgba(23, 32, 72, 0.21);
}

/*--------------Mixed-section-start--------*/
.Mixed{
	padding-top: 100px;
	padding-bottom: 100px;
	background: #fff;
}

.Mixed-left {
    display: table-cell;
    vertical-align: middle;
}
.Mixed-right {
    display: table-cell;
    vertical-align: middle;
}
.Mixed-right h2{
	font-size: 36px;
    line-height: 38px;
    color: #172048;
    font-weight: 600;
    padding-bottom: 40px;
}
.Mixed-right p{
	font-size: 20px;
    line-height: 22px;
    color: #7D8296;
    font-weight: 400;
    max-width: 507px;
    padding-bottom: 40px;
}
.Mixed-right a{
	font-size: 18px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    padding: 18px 37px;
    background: #8CC63F;
}
.Mixed-right a:hover{
	background: #172048;
}





/*----------------videos-section-start*/
.videos{
	padding-top: 100px;
	padding-bottom: 100px;
	background: #FAFAFA;
	text-align: center;
}
.videos h2{
	font-size: 36px;
    line-height: 38px;
    color: #172048;
    font-weight: 600;
    padding-bottom: 51px;
}
.videos-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/*-------------Reviews-section-start*/
.Reviews{
	padding-top: 100px;
	padding-bottom: 100px;
	background: #fff;
}
.Reviews h2{
	font-size: 36px;
    line-height: 38px;
    color: #172048;
    font-weight: 600;
    text-align: center;
    padding-bottom: 51px;
}

.box-2{
	float: left;
	width: 33.33%;
	padding: 0 12px;
}
.mrg-2{
	margin: 0 -12px;
}
.bg-2 {
    float: left;
    width: 100%;
    background: #FAFAFA;
    padding: 35px;
}

.bg-2 p{
	font-family: "Sora", serif;
	font-size: 14px;
    line-height: 25px;
    color: #1B1D21;
    font-weight: 400;
    padding-bottom: 20px;
}
.bg-2-pr {
    float: left;
    width: 85%;
}
.bg-2-ss {
    float: left;
    width: 15%;
    text-align: right;
}
.bg-2-pr .table-cell:first-child{
	width: 50px;
}

.bg-2-pr h4{
	font-family: "Sora", serif;
	font-size: 16px;
    line-height: 18px;
    color: #8D8E90;
    font-weight: 300;
    padding-bottom: 3px;
}



/*----------------footer-section-start*/
.footer{
	background: #171717;
	padding-top: 100px;
	padding-bottom: 80px;
}
.footer-left{
	float: left;
	width: 35%;
}
.footer-left p {
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    font-weight: 400;
    max-width: 255px;
    padding-top: 26px;
}
.footer-right{
	float: left;
	width: 65%;
}
.footer-right-row{
	float: left;
	width: 20%;
}
.footer-right-row:last-child{
    float: left;
    width: 40%;
}
.footer-right-row h2{
	font-size: 18px;
    line-height: 20px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 24px;
}

.footer-right-row ul li{
	padding-bottom: 10px;
}
.footer-right-row ul li a{
	font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-weight: 400;
}
.footer-right-row ul li a:hover{
	color: #8CC63F;
}

.footer-right-row input{
	font-size: 16px;
    line-height: 18px;
    color: #8D8E90;
    font-weight: 400;
    background: #232323;
    max-width: 224px;
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}
.footer-right-row button{
	font-size: 16px;
    line-height: 18px;
    color: #171717;
    font-weight: 600;
    padding: 13px 70px;
    background: #fff;
    margin-top: 12px;
    cursor: pointer;
    border: none;
}
.footer-right-row button:hover{
    background: #8CC63F;
    color: #172048;
}




/*----responsive-------start*/


@media (max-width: 1200px){

.banner ,.middle-1,.leaders,.items,.search,.Mixed,.videos,.Reviews,.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}

.header-bottom nav ul li {
    display: inline-block;
    padding: 0 5px;
}

.banner-center h1 {
    font-size: 30px;
    line-height: 32px;
    padding-bottom: 10px;
}
.banner-center p {
    font-size: 16px;
    line-height: 23px;
    max-width: 470px;
    padding-bottom: 20px;
}
.banner-center a {
    font-size: 16px;
    line-height: 18px;
    padding: 10px 25px;
}
.banner:after{
	display: none;
}
.banner-img {
    display: block;
}
.middle-1-title h2 {
    font-size: 30px;
    line-height: 32px;
}
.middle-1-tab ul li:first-child {
    padding: 0;
    padding-right: 15px;
}
.middle-1-tab ul li {
    display: inline-block;
    padding: 0 15px;
}
.leaders-right h2 {
    font-size: 30px;
    line-height: 32px;
    padding-bottom: 10px;
}
.leaders-right p {
    font-size: 16px;
    line-height: 20px;
    max-width: 480px;
}
.items .row h3{
    font-size: 30px;
    line-height: 32px;
    padding-bottom: 25px;
}
.item-2 {
    padding-top: 25px;
}
.item-3 {
    padding-top: 25px;
}
.search-center h2 {
    font-size: 30px;
    line-height: 32px;
    padding-bottom: 30px;
}
.middle-1-title a {
    font-size: 16px;
    line-height: 18px;
    padding: 10px 20px;
}
.search-center .search-center-input {
    height: 50px;
    padding: 0 5px;
}
.search-center-input input {
    height: 40px;
    font-size: 14px;
    line-height: 14px;
    padding-left: 5px;
    padding-right: 5px;
}
.search-center-input button {
    padding: 10px 35px;
}
.search-center-a {
    padding-top: 25px;
}
.search-center-a-1 a {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 20px;
}

.Mixed-right h2 {
    font-size: 30px;
    line-height: 32px;
    padding-bottom: 20px;
}
.Mixed-right p {
    font-size: 16px;
    line-height: 20px;
    max-width: 480px;
    padding-bottom: 20px;
}
.Mixed-right a {
    font-size: 16px;
    line-height: 18px;
    padding: 10px 37px;
}
.videos h2 {
    font-size: 30px;
    line-height: 32px;
    padding-bottom: 25px;
}
.Reviews h2 {
    font-size: 30px;
    line-height: 32px;
    color: #172048;
    font-weight: 600;
    text-align: center;
    padding-bottom: 25px;
}
.bg-2 {
    float: left;
    width: 100%;
    background: #FAFAFA;
    padding: 20px;
}





}

@media (max-width: 1100px){
.videos-center img{
	max-width: 250px;
}
.videos-center {
    display: block;
    /* align-items: center; */
    gap: 30px;
}


}
@media (max-width: 1023px){

.banner ,.middle-1,.leaders,.items,.search,.Mixed,.videos,.Reviews,.footer{
    padding-top: 40px;
    padding-bottom: 40px;
}



.videos-center img{
	max-width: 250px;
}

.footer-left {
    float: left;
    width: 100%;
    text-align: center;
}
.footer-left p {
    font-size: 14px;
    line-height: 16px;
    max-width: none;
    padding-top: 10px;
}
.footer-right {
    float: left;
    width: 100%;
    padding-top: 30px;
    text-align: center;
}

.leaders-right {
    padding-left: 20px;
}
.Mixed-right {
    padding-left: 20px;
}
}

@media (max-width: 979px){

.mobile-manu{
    display: block;
}




.header-bottom {
    display: none;
}
.logo {
    padding-bottom: 0;
}

.bg-1-content {
    text-align: center;
    padding: 0 20px 15px 20px;
}
.middle-1-title {
    padding-bottom: 20px;
}
.middle-1-tab ul li a {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}
.bg-1-content p {
    font-size: 16px;
    line-height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bg-1-content span {
    font-size: 20px;
    line-height: 22px;
}

.bg-1 h4 {
    font-size: 14px;
    line-height: 16px;
    padding: 5px 10px;
    top: 10px;
    right: 15px;
}
.videos-center img {
    max-width: 200px;
}










}



@media (max-width: 767px){
.logo {
    max-width: 100px;
    margin: 0 auto;
}
.banner .table{
    display: flex;
    flex-direction: column;
}
.banner-center {
    display: block;
    text-align: center;
    order: 2;
    padding-top: 20px;
}
.banner-center h1 br{
    display: none;
}
.banner-center p {
    max-width: none;
    padding-bottom: 10px;
}
.banner-img{
    max-width: 300px;
    margin: 0 auto;
}

.middle-1-tab {
    padding-bottom: 20px;
}

.mrg-1 {
    margin: 0;
}
.box-1 {
    width: 100%;
    padding: 0;
    padding-top: 20px;
}
.bg-1-imag {
    text-align: center;
}
.box-1:first-child{
    padding-top: 0;
}
.leaders-left {
    display: block;
    /* vertical-align: middle; */
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

.leaders-right {
    display: block;
    text-align: center;
    padding-left: 0;
}
.leaders-right h2 br{
    display: none;
}
.leaders-right p {
    max-width: none;
}

.search-center-a-1 a {
    padding: 10px 10px;
}


.search {
    height: auto;
}
.search-center h2 {
        padding-bottom: 20px;
}
.search-center h2 br{
    display: none;
}
.search-center-a {
    display: block;
}

.Mixed-left {
    display: block;
    max-width: 300px;
    margin: 0 auto;
}
.Mixed-right {
    display: block;
    text-align: center;
}

.Mixed-right h2 {
    padding-bottom: 10px;
}
.Mixed-right h2 br{
    display: none;
}
.Mixed-right p {
    padding-bottom: 10px;
    max-width: none;
}

.videos-center img {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}
.videos-center img:first-child{
    padding-top: 0;
}
.videos h2 {
    padding-bottom: 20px;
}
.box-2 {
    width: 100%;
    padding: 0;
    padding-top: 20px;
}
.mrg-2 {
    margin: 0;
}
.box-2:first-child{
    padding-top: 0;
}

.footer-right-row {
    float: left;
    width: 100%;
    padding-top: 20px;
}
.footer-right {
    padding-top: 20px;
}
.footer-right-row:first-child{
    padding-top: 0;
}
.footer-right-row:last-child {
    float: left;
    width: 100%;
}
.footer-right-row h2 {
    padding-bottom: 10px;
}






.footer-right-row input {
    display: block;
    margin: 0 auto;
}




.search-center-a-1 {
    display: inline-block;
    padding: 5px;
}




.middle-1-title a {
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
}
.middle-1-tab ul li:first-child {
    padding-right: 5px;
}

.middle-1-tab ul li {
    padding: 0px 5px;
}
.middle-1-tab ul li a {
    font-size: 14px;
    line-height: 24px;
}

.middle-1-title h2 {
    font-size: 20px;
    line-height: 22px;
}
}



@media(max-width: 476px){


.middle-1-title a {
    padding: 10px;
}

.banner-center h1 ,.leaders-right h2,.items .row h3,.search-center h2,.Mixed-right h2,.videos h2,.Reviews h2{
    font-size: 25px;
    line-height: 27px;
}
.banner-center p ,.leaders-right p,.Mixed-right p{
    font-size: 14px;
    line-height: 20px;
}
.banner-center a,.Mixed-right a {
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
}

.Reviews h2 {
    padding-bottom: 15px;
}
.middle-1-title a {
    float: none;
    margin-top: 10px;   
}
.middle-1-title {
    text-align: center;
}
.middle-1-tab {
    text-align: center;
}
.search-center-input .table-cell:last-child {
    width: 85px;
}
.search-center-a {
    padding-top: 10px;
}
.search-center-input button {
    padding: 10px;
}
}








